.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: round;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1267%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(244%2c 241%2c 234%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c573.444C104.929%2c558.535%2c188.374%2c489.145%2c277.221%2c431.365C365.557%2c373.917%2c479.783%2c334.762%2c518.007%2c236.566C556.005%2c138.949%2c484.63%2c36.134%2c471.524%2c-67.795C458.11%2c-174.162%2c506.678%2c-297.317%2c440.086%2c-381.336C373.488%2c-465.362%2c248.39%2c-470.364%2c141.988%2c-483.568C48.601%2c-495.157%2c-40.071%2c-468.188%2c-132.846%2c-452.432C-239.482%2c-434.322%2c-370.373%2c-464.001%2c-443.346%2c-384.162C-516.155%2c-304.502%2c-472.991%2c-176.896%2c-482.909%2c-69.432C-492.233%2c31.593%2c-524.966%2c129.982%2c-499.872%2c228.284C-471.73%2c338.527%2c-426.565%2c453.413%2c-332.938%2c518.062C-238.446%2c583.309%2c-113.688%2c589.598%2c0%2c573.444' fill='%23c4b48f'%3e%3c/path%3e%3cpath d='M1920 1607.516C2049.335 1601.924 2178.955 1720.3229999999999 2296.1 1665.223 2412.553 1610.4479999999999 2437.701 1457.88 2489.032 1339.868 2539.428 1224.008 2620.7110000000002 1106.485 2592.726 983.277 2565.0299999999997 861.341 2424.124 808.492 2346.137 710.75 2263.588 607.2909999999999 2249.745 426.58799999999997 2121.729 392.972 1992.871 359.135 1893.451 516.949 1766.919 558.653 1646.489 598.346 1500.961 552.186 1401.1950000000002 630.453 1296.7350000000001 712.402 1252.696 850.012 1229.0030000000002 980.65 1204.721 1114.535 1213.978 1252.965 1265.4470000000001 1378.924 1318.237 1508.116 1390.643 1652.664 1522.4 1698.6779999999999 1653.423 1744.4360000000001 1781.347 1613.511 1920 1607.516' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1267'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.list-container{
  background-color:white;
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align:center;
  padding: 3rem 2%;
  border-radius:1.2rem;
  position:relative;
}


.list-container .z-index{
  z-index:3;
}

button{
  margin-top:20px;
}

.list-container:before {

  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ffffff 0%, #c0b28d 99% );
  transform: translate3d(0px, 0px, 0) scale(1.04);
  filter: blur(26px);
  opacity: var(0.63);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/*
* Prevents issues when the parent creates a
* stacking context. (For example, using the transform
* property )
*/
.list-container::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
