<div class="header" *ngIf="show">
  <div class="general-width">
    <div class="left-end">
      <span class="logo">eLibrary</span>
      <a [routerLink]="'/home'">Home</a>
      <a [routerLink]="'/catalogo'">Catalogo</a>
      <a [routerLink]="'/utenti'">Utenti</a>
      <a [routerLink]="'/login'" (click)="logout()">Logout</a>
    </div>
    <div class="right-end">
      <a href="/home"><span>{{nomeUtente}} {{cognomeUtente}}</span></a>
      <img src="{{fotoUtente}}" alt="foto profilo">
    </div>
  </div>
</div>
