.header{
  background-color: #F4F1EA;
  height:65px;
  display:flex;
  max-width:100%;
}

.general-width{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

img{
  border-radius:50%;
  width:45px;
  height:45px;
}

.left-end{
  display:flex;
  align-items: center;
  gap:10px;
}

.right-end{
  display:flex;
  align-items: center;
  gap:30px;
}

.logo{
  font-size:30px;
  margin-right:25px;
  color:#382110;
}

a{
  text-decoration:none;
  color:#382110;
  font-size:19px;
  padding: 5px;
}

a:hover{
  color: rgba(0, 0, 0, 0.75);
}

.header{
  margin-bottom:80px;
}
